// Latest compiled and minified CSS
link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap.min.css")

// Optional theme
link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap-theme.min.css")

// Latest compiled and minified JavaScript
script(src="/lib/jquery/jquery.min.js")
script(src="/lib/bootstrap/js/bootstrap.min.js")
