extends layout

block content
  h1 Party

  // react.js rendering space
  div#quiz-form

block addCss
  link(rel="stylesheet", href="/css/index.css")

block addJs
  script(src='/socket.io/socket.io.js')
  script(src='/js/IndexApp.js')
