extends layout

block addHeader
  meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

block content
  .container
    .title
      h1 Welcome to Party!!

    .question-text

    .choice-form
      .rows
        .col-xs-6
          button.btn.btn-primary(type="button" value="1") A
        .col-xs-6
          button.btn.btn-danger(type="button" value="2")  B
        .col-xs-6
          button.btn.btn-success(type="button" value="3")  C
        .col-xs-6
          button.btn.btn-warning(type="button" value="4") D

    .rows.comment-form
      .col-xs-12
        h3 コメントをどうぞ:D
        textarea.form-control(rows="1")
        button.btn.btn-info(type="button") コメントを送信
        .err-space

block addCss
  link(rel="stylesheet", href="/css/index.css")

block addJs
  script(src='/socket.io/socket.io.js')
  script(src='/js/IndexApp.js')
