doctype html
html
  head
    title Party
    block addHeader
    link(rel="stylesheet", href="/lib/normalize/normalize.css")
    include ./bootstrap.jade
    block addCss
  body
    block content
    block addJs
