doctype html
html
  head
    title = 'Party'
    link(rel='stylesheet', href='/css/style.css')
    block addCss
  body
    block content
    script(src='/lib/jquery/dist/jquery.min.js')
    block addJs
