extends layout

block content
  h1 Welcome to Party

  div#answers

block addCss
  link(rel="stylesheet", href="/css/quiz.css")
block addJs
  script(src='/socket.io/socket.io.js')
  script(src='/js/QuizApp.js')
