@import 'mixins/background'

body
  @include background

.quizComponent
  h1
    font-size: 25px
    margin-bottom: 30px
    color: red

  .choiceDisplayList
    .choiceDisplay
      position: relative
      width: 100%
      height: 30%
      margin: 20px
      padding: 20px 10px
      background-color: bisque
      border-radius: 20px
